

body{
    background-color: rgb(85, 79, 79);
    margin: auto;
    background-image: url(greengrid.jpg);
}
.center{
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.table{
    table-layout:fixed;
    min-width: 556px;
    min-height: 556px;
    max-width: 556px;
    max-height: 556px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;   
    border-spacing: 4px;
}
.container{
height: 0px;
width: 50%;
margin-left: auto;
margin-right: auto;
}
.left{
    background-color: rgb(114, 104, 104);
    border: 5px solid rgb(63, 59, 59);
    border-radius: 10px;
    float: left;
    color: rgb(255, 255, 255);
    font-size: 30px;
      text-align: center;
      width: 110px; 
       margin:10px;
    box-shadow: -2px -1px 35px 2px rgba(25,191,110,0.75) inset;

}
.right{
    background-color: rgb(114, 104, 104);
    border: 5px solid rgb(63, 59, 59);
    border-radius: 10px;
    float: right;
    color: rgb(255, 255, 255);
    font-size: 30px;
      text-align: center;
      width: 110px; 
       margin:10px;
    box-shadow: -2px -1px 35px 2px rgba(25,191,110,0.75) inset;

}

.cell{
    background-color: lightblue;
    height: 40px;
    width: 40px;

    opacity: 0.8;
    text-align: center;
    font-size: 25px;
    box-shadow: -2px -1px 35px 2px rgba(25,191,110,0.75) inset;

}
.cell:hover{
    cursor: pointer;
}
.clickedmine{
    background-color: rgba(245, 12, 12) ;
}


div.center button{
    background-color: rgb(114, 104, 104);
    border: 5px solid rgb(63, 59, 59);
    border-radius: 10px;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 3px;
    margin: 10px;
    box-shadow: -2px -1px 30px 2px rgba(25,191,110,0.75) inset;

}
footer{
    background-color: rgb(148, 219, 174);
    font-size: 30px;
    width: 556px;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -2px -1px 35px 2px rgba(25,191,110,0.75) inset;
    margin-top: 5px;


}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
.emptyCell{
    background-color: rgb(108, 142, 153);
}
.safeclick{
    background-color: gold ;
}
